@font-face{
  font-family: ProximaNovaS;
  src: url(assets/fontfaces/Proxima-Nova-S-Black.ttf);
}
@font-face{
  font-family: ProximaNovaLight;
  src: url(assets/fontfaces/proximanova-light.otf);
}
@font-face{
  font-family: ProximaNova;
  src: url(assets/fontfaces/Proxima-Nova-Font.otf);
}
@font-face{
  font-family: Futura;
  src: url(assets/fontfaces/Futura.ttc);
}

html, body{  
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
/* Add a black background color to the top 
navigation */
.topnav {
  position: fixed;
  width:100%;
  z-index:10;
  background-color: transparent;
  display: block;
  top:0px;
  transition: top 0.3s;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  height: 70px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: Futura;
  float: left;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
 

}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav-left{
  float: left;
  padding: 14px 0px 0px 30px;
  width: 180px;
}

.topnav-left img{
  position: relative;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: #ddd;*/
  color: white;
  text-decoration: none;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.black-overlay{
  
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.card-black-overlay{
 
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
}

.banner{

  top:0;
}

.banner-item{
  background-size:cover;
}
.banner {
    
    
    top:0;
    
    width: 100%;
    height: 550px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px;

     
    
  }


.absolute-div {

  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.carousel-caption h3{

  font-family: ProximaNovaS;
  font-size: 70px;

}

.carousel-caption{
  
  bottom: 0;
  top: 200px;
}

.footer{
  margin-top: 150px;
  width: 100%;
  height: 380px;
  background-color: gray;
  
 
}


.footer-logo{
  position: absolute;
  width: 160px;
  margin-top: 80px;
  margin-left: 200px;
  
  
}

.footer-logo img{
  width: 100%;
}

.image-container{
  margin-top:50px;
  height: 500px;
  width: 500px;
  
  display: inline-block;
}

.footer-socials .icons i {
  width: 40px;
  color: lightgray;
  font-size: 30px;
}

.footer-links{

  margin-top: 80px;
  margin-left: 400px;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  
}

.footer-links li{
  list-style-type:none;
  margin-bottom: 20px;
}

.footer__top-nav-list{
  width: 200px !important;
}

.footer-links a{
  font-family: ProximaNova;
  font-weight: bold;
  color: white;
}

.footer-socials{
  margin-left: 200px;

}

.footer-links a:hover{
  text-decoration: none;
  color: white;
}

.footer-copyright{
  margin-left: 81px;
  display: inline-block;
  height: 30px;
  color: lightgray;
  vertical-align: middle;
  font-family: ProximaNova;
}

.footer-contact{
  margin-top: 80px;
  margin-right: 150px;
  float: right;
}

.footer-contact-phonenumber{
  color: white;
  font-family: ProximaNovaS;
  margin-top: -10px;
  font-size: 30px;
}

.footer-contact-location{
  color: white;
  font-family: ProximaNova;

}

.footer-contact-email{
  color: white;
  margin-top: -10px;
  font-family: ProximaNova;
  font-weight: bold;

}

#contact-div{
  
  margin-bottom: 20px;
  width: 100%;
  /*text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/

  
  
}

.contact-title{
  margin-left: 100px;
  margin-top: 90px;
  font-family: ProximaNovaS;
  font-size: 50px;
}

.contact-detail{
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
  font-family: ProximaNova;
}

.form-catainer{

  display: inline-block;
  width:850px;
}




.contact-text{

  mix-blend-mode: difference;
  color: white;
  margin-top: -40px;
  font-size: 130px;
  margin: auto;
  z-index: 10;

  
}

input, textarea{
  font-family: ProximaNova;
  border: none;
  border-bottom: 3px solid #9c984d;;

  font-size: 13px;

}
input, textarea{
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

textarea[type="search"] {
  -webkit-appearance: none;
}

input::placeholder, textarea::placeholder{
  color: gray;
  
}

input{
  height: 50px;
  width: 700px;
}

textarea{
  margin-top: 10px;
  overflow:auto; 
  resize:vertical;
  width: 700px;
  height: 90px;

}

textarea:focus, input:focus{
    outline: none;
}

#registerform{
  padding-top: 30px;
  padding-left: 130px;
  width: 100%;
  margin: auto;
  font-family: ProximaNova;

}

.text-form{
  margin: auto;
  padding-left: 10px;
  padding-top: 90px;
  font-family: ProximaNova;
  
}

#forms-inputs{
  width: 100%;
  padding-top: 70px;
}

.submit-button{
  margin-left:-15px;
  background-color:  #9c984d;
  border: none;
  color: white;
  width: 300px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition:.7s;
  border-radius: 40px;

}

.submit-button:hover{
  background-color:  white;
  color: black;
}

.social-footer-icons {
   position: absolute;
  padding-left: 220px;
  margin-top: 40px;

  }

.contact-socials {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 40px;
  

}

.contact-socials i{
  display: inline-block;
  width: 40px;
  color: gray;
  font-size: 40px;
  margin-bottom: 10px;

}

.contact-socials a{
  color: gray;
  font-family: ProximaNova;
  font-size: 20px;

  
}

.contact-socials a:hover{
  text-decoration: none;
  color: gray;

}

.header img{
    
    max-width:200px;
    padding: 15px 10px ;
  }

  .header{
    position: fixed;
  width:100%;
  z-index:50;
  background-color: transparent;
  display: block;
  top:0px;
  transition: top 0.3s;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  height: 90px;
}

.header a:hover{

  text-decoration: none;
  color: white;

}

.header img{
  margin-left:20px;
  max-width:200px;


}

.header a{
float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
 
  font-family: Futura;

}

.header div{
  float: right;
 
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
 
  font-family: Futura;

}

.header .icon {
  display: none;
  color:white;
}


/* The dropdown container */
.dropdown {
  
  
}

/* Dropdown button */
.dropdown .dropbtn {

  border: none;
  outline: none;
  color: white;
 
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: ;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 0px!important;
  padding-left: 10px!important;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}
@media screen and (max-width: 1390px) {

  .contact-socials {
    
    margin-left: 130px;
    margin-bottom: 130px;

  }



}

@media screen and (max-width: 1130px) {

  .footer-contact{
    margin-top: 80px;
    margin-right: 120px;
    float: right;

  }
  .footer-logo, .footer-socials {
    margin-left: 80px;
  }
  .footer-links{
    margin-left: 280px;
    
  }
  .footer-socials{
    margin-top: 50px;
  }



} 

@media screen and (max-width: 943px) {

  .form-catainer{
    display: inline-block;
    width:100%;
    
  }

  #registerform{
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
  }



  .contact-title{
    margin-left: 60px;
    text-align: center;
    margin: auto;
    margin-top: 150px!important;
  }

  .contact-detail{
    font-size: 25px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    color:gray;
    

  }


  input,textarea{
    
    width: 100%;
  }




}

@media screen and (max-width: 718px) {



  .contact-title{

    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
  }

  .contact-socials{
    width: 60%;
    
    margin-left: 70px!important;

  }

  .fa-map-marker{
    margin-top: -4px!important;
  }

  .icon-location{
    margin-top: 5px;
  }

 



}

@media screen and (max-width: 683px) {



  input,textarea{
    
    width: 100%;
  }




}

@media screen and (max-width: 575px) {


  #registerform{
    padding-left: 20px;
    padding-right: 20px;
    
  }




}

@media screen and (max-width: 880px) {
  .footer-logo, .footer-socials {
    margin-left: 20px;
  }

  .footer-links{
    margin-left: 200px;
    
  }
  
  .footer-contact{
    
    margin-right: 20px;
    

  }

  
}

@media screen and (max-width: 800px) {
  .footer{
    height: 600px!important;
  }

  .footer-contact{
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    display: block!important;
    
    height: 200px!important;
  }

  .footer-contact-location{
    display: block!important;
    width: 100%!important;


  }

  .footer-socials{
     display: block!important;
    height: 10px!important;
    float: left;
  }

  
}

@media screen and (max-width: 1410px) {

}


@media screen and (max-width: 550px) {


  




  .footer-socials{
    margin-top: 0px;

  }

  .footer-copyright{
    margin: auto!important;
    
    margin-top: 20px!important;
  }

}

@media screen and (max-width: 400px) {
  .footer-links{

    width: 100px;
  
  }
 
}

@media screen and (max-width: 670px) {

  .header.responsive .icon {

    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;



  }
  .header.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: left;
    margin-left: 0;
    color:black;
    background-color: white;
   
    z-index: 90;

  }

  .dropdown.responsive {
    float: none;
    display: block;
    text-align: left;
    margin-left: 0;
    color:black;
    background-color: white;
   
    z-index: 90;

  }

  .dropdown{

  }

  


  .header.responsive a:nth-last-child(2)  {
    -webkit-box-shadow: 0 5px #9c984d;
    -moz-box-shadow: 0 5px #9c984d;
    box-shadow: 0 5px #9c984d;
    

  }


  .header a:not(:first-child) {
    display: none;

    
  }

  .dropdown{
    display: none;
  }

  .dropdown  button{
    padding: 0px;
  }



  .header a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 380px) {

  .contact-socials{
    width: 200px;
    
    margin-left: 27px!important 

  }
 
}

@media screen and (max-width: 340px) {

  .contact-socials a{
    font-size: 17px!important;

  }
}

@media screen and (max-width: 434px) {

  .carousel-caption h3{

    font-family: ProximaNovaS;
    font-size: 55px;

  }
}

@media screen and (max-height: 1150px) {

 

}



