@font-face{
  font-family: ProximaNovaS;
  src: url(assets/fontfaces/Proxima-Nova-S-Black.ttf);
}
@font-face{
  font-family: ProximaNovaLight;
  src: url(assets/fontfaces/proximanova-light.otf);
}
@font-face{
  font-family: ProximaNova;
  src: url(assets/fontfaces/Proxima-Nova-Font.otf);
}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top 
navigation */
.topnav {
  position: fixed;
  width:100%;
  z-index:10;
  background-color: transparent;
  display: block;
  top:0px;
  transition: top 0.3s;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  height: 70px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: Futura;
  float: left;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
 

}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav-left{
  float: left;
  padding: 14px 0px 0px 30px;
  width: 180px;
}

.topnav-left img{
  position: relative;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: #ddd;*/
  color: white;
  text-decoration: none;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.card-black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
}

.banner{
	position:relative;
	top:0;

}

.absolute-div {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.carousel-caption h3{

  font-family: ProximaNovaS;
  font-size: 70px;

}

.carousel-caption{
  transform: translateY(-50%);
  bottom: 0;
  top: 60%;
}

.footer{
  width: 100%;
  height: 380px;
  background-color: gray;
  
 
}


.footer-logo{
  position: absolute;
  width: 160px;
  margin-top: 80px;
  margin-left: 200px;
  
  
}

.footer-logo img{
  width: 100%;
}

.image-container{
  margin-top:50px;
  height: 500px;
  width: 500px;
  
  display: inline-block;
}

.icons i {
  width: 40px;
  color: lightgray;
  font-size: 30px;
}

.footer-links{

  margin-top: 80px;
  margin-left: 400px;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  
}

.footer-links li{
  list-style-type:none;
  margin-bottom: 20px;
}

.footer__top-nav-list{
  width: 200px !important;
}

.footer-links a{
  font-family: ProximaNova;
  font-weight: bold;
  color: white;
}

.footer-socials{
  margin-left: 200px;

}

.footer-links a:hover{
  text-decoration: none;
  color: white;
}

.footer-copyright{
  margin-left: 81px;
  display: inline-block;
  height: 30px;
  color: lightgray;
  vertical-align: middle;
  font-family: ProximaNova;
}

.footer-contact{
  margin-top: 80px;
  margin-right: 150px;
  float: right;
}

.footer-contact-phonenumber{
  color: white;
  font-family: ProximaNovaS;
  margin-top: -10px;
  font-size: 30px;
}

.footer-contact-location{
  color: white;
  font-family: ProximaNova;

}

.footer-contact-email{
  color: white;
  margin-top: -10px;
  font-family: ProximaNova;
  font-weight: bold;

}



.infocontainer{
  
  position: relative;
  
  vertical-align:top;
  padding-left: 150px;
  margin-top: 110px;
  width: 950px;
  font-family: ProximaNova;
  display: inline-block;
  
}

.infocontainer h1{
  font-family: ProximaNovaS;
  font-size: 30px;
  
  
}



.planos-imgs{
   margin-top: 100px;

  display: inline-block;
  width: 600px;
}

.planos-imgs img{

  width: 100%;
}

