@font-face{
  font-family: ProximaNovaS;
  src: url(assets/fontfaces/Proxima-Nova-S-Black.ttf);
}
@font-face{
  font-family: ProximaNovaLight;
  src: url(assets/fontfaces/proximanova-light.otf);
}
@font-face{
  font-family: ProximaNova;
  src: url(assets/fontfaces/Proxima-Nova-Font.otf);
}
@font-face{
  font-family: Futura;
  src: url(assets/fontfaces/Futura.ttc);
}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top 
navigation */
.topnav {
  position: fixed;
  width:100%;
  z-index:10;
  background-color: transparent;
  display: block;
  top:0px;
  transition: top 0.3s;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  height: 70px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: Futura;
  float: left;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
 

}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav-left{
  float: left;
  padding: 14px 0px 0px 30px;
  width: 180px;
}

.topnav-left img{
  position: relative;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*background-color: #ddd;*/
  color: white;
  text-decoration: none;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.card-black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
}

.banner{
	position:absolute;
	top:0;
}

.banner-item{
	background-size:cover;
}
.banner {
    
    position:absolute;
  	top:0;
  	overflow: hidden;
  	width: 100%;
  	height: 471px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	 
    
  }
.banner img{
	background-image: url('assets/images/productos.jpg');
	height: 471px;
}
.absolute-div {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.carousel-caption h3{
  font-family: ProximaNovaS;
  font-size: 70px;

}

.carousel-caption{
  transform: translateY(-50%);
  bottom: 0;
  top: 57%;
}

.catalogo-maderas{

	width: 0px;
	margin:auto; 
  	margin-top: 600px;

}

.catalogo-maderas img{
	width: 100%;
}

.titlecontainer{
	max-width: 400px;
	float: left;

	display: inline-block;

}



.info1{

  padding-bottom: 30px;
  font-size: 40px;
  font-family: ProximaNova;
  display: inline-block;

}

.products-list{
	
	color: gray; 

}





.infocontainer{
	
	height: 1000px;
	margin:auto; 
	margin-top: 600px;
	width: 100%;
  
}

.buttoncontainer{
  display: inline-block;
 
  padding-right: 100px;
  float: right;
}



.info2{
  font-family: ProximaNova;
  font-size: 20px;

}



.card{
  margin-right: 20px;
}


.card-plantines{
	background-image: url("assets/images/machimbre.jpg");
}

.card-pallets{
	background-image: url("assets/images/pallets2.jpg");
	background-size: 370px;
}

.card-cepillada{
	background-image: url("assets/images/cepillada.jpg");
	background-size: 370px;
}

.card-tableros{
	background-image: url("assets/images/tableros.jpg");
	background-size: 370px;
}

.card-marcos{
	background-image: url("assets/images/marcos.jpg");
	background-size: 370px;
}

.card-vigas{
	background-image: url("assets/images/vigas.jpg");
	background-size: 370px;
}


.card h3{
	z-index: 3;
	color: white;
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

  cursor: pointer;
}

.container {
	width: 100%;
	height: 100%;
	display: inline;
 
}

.container-viviendas{
	margin: auto;
	
	max-width: 1300px;

}

.container img {
  width: auto;
  max-height: 100px;
}

.row{
	display: inline-block;
}

.grow { 
	height: 180px;
	transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.01); 
  z-index: 2!important;
}

.footer{
  width: 100%;
  height: 380px;
  background-color: gray;
  top:-10px;
  margin-top: 1000px;
  
}


.footer-logo{
  position: absolute;
  width: 160px;
  margin-top: 80px;
  margin-left: 200px;
  
  
}

.footer-logo img{
  width: 100%;
}

.icons i {
  width: 40px;
  color: lightgray;
  font-size: 30px;
}



.footer-links{

  margin-top: 80px;
  margin-left: 400px;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  
}

.footer-links li{
  list-style-type:none;
  margin-bottom: 20px;
}

.footer__top-nav-list{
  width: 200px !important;
}

.footer-links a{
  font-family: ProximaNova;
  font-weight: bold;
  color: white;
}

.footer-socials{
  margin-left: 200px;

}

.footer-links a:hover{
  text-decoration: none;
  color: white;
}

.footer-copyright{
  margin-left: 81px;
  display: inline-block;
  height: 30px;
  color: lightgray;
  vertical-align: middle;
  font-family: ProximaNova;
}

.footer-contact{
  margin-top: 80px;
  margin-right: 150px;
  float: right;
  height: 100px;
}

.footer-contact-phonenumber{
  color: white;
  font-family: ProximaNovaS;
  margin-top: -10px;
  font-size: 30px;
}

.footer-contact-location{
  color: white;
  font-family: ProximaNova;

}

.footer-contact-email{
  color: white;
  margin-top: -10px;
  font-family: ProximaNova;
  font-weight: bold;

}

.productos__top-nav{
	margin: auto;
	
}

.productos__top-nav {
	margin-top: -45px;
}


.productos__top-nav a{
	font-family: ProximaNova;
	font-weight: bold;
	color: white;
}

.products-list{
	height: 100%;
	font-family: ProximaNova;
	font-size: 18px;
	width: 100%;
}

.black-overlay-carousel{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
}



.carousel-inner{
  margin: 0;
  padding: 0;

}

.carousel{
  position:absolute;
  top:0;
}

.carousel-indicators li {
  background-color: #f3f3f3 !important;
  background-color: rgba(243,243,243,.25) !important;
}

.carousel-indicators .active {
  background-color: rgba(243,243,243,0.8) !important;
}

.absolute-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.carousel-caption h3{

  font-family: ProximaNovaS;
  font-size: 70px;

}

.carousel-caption{
  transform: translateY(-50%);
  bottom: 0;
  top: 60%;
}

.carousel-caption p{
  font-family: ProximaNova;
  font-size: 20px;
}

#myCarousel{
	
	display: block;
	margin-bottom: 0;
}

.carousel-title{
	margin-left: 40px;
	font-family: ProximaNovaS;
	font-size: 55px;
	margin-bottom: 20px;
	color:#9c984d;
}

.carousel-para{
	margin-top: 20px;
	font-family: ProximaNova;
	font-weight: bold;
}

.carousel-para-note{
	margin-top: -10px;
	font-family: ProximaNova;
}


.viviendas-section{
	margin-top: 900px;
}

.carousel-inner{
  margin: 0;
  padding: 0;

}

.carousel{
  position:absolute;
  top:0;
}

.header img{
    
    max-width:200px;
    padding: 15px 10px ;
  }

  .header{
    position: fixed;
  width:100%;
  z-index:50;
  background-color: transparent;
  display: block;
  top:0px;
  transition: top 0.3s;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  height: 90px;
}

.header a:hover{

  text-decoration: none;
  color: white;

}

.header img{
  margin-left:20px;
  max-width:200px;


}

.header a{
float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
 
  font-family: Futura;

}

.header .icon {
  display: none;
  color:white;
}

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}

.green-background {
  background-color:#9c984d!important;
  border: none!important;
}


@media screen and (max-width: 1200px) {
  .products-list{
  	width: 300px!important;
  }
  .carousel-caption{
	transform: translateY(-50%);
	bottom: 0;
	top: 55%;
	}

}
 
@media screen and (max-width: 1135px) {

  .footer-contact{
    margin-top: 80px;
    margin-right: 120px;
    float: right;

  }
  .footer-logo, .footer-socials {
    margin-left: 80px;
  }
  .footer-links{
    margin-left: 280px;
    
  }
  .footer-socials{
    margin-top: 50px;
  }

  


} 


@media screen and (max-width: 1361px) {

  .card{
    width: 300px!important;
    margin: auto!important;
  }

  .container-viviendas-p, .container-viviendas-h2{
    margin-left: 50px;
  }



} 

@media screen and (max-width: 980px) {

  .card{
    width: 250px!important;
    
  }

  .container-viviendas-p, .container-viviendas-h2{
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer{
    margin-top: 1100px;
  }






} 

@media screen and (max-width: 900px) {

  .card{
    width: 300px!important;
    
  }

  .footer{
    margin-top: 2000px;
  }
 
  .carousel-para{
    margin-right: 20px;
    margin-left: 20px;
  }





} 

@media screen and (max-width: 711px) {

  .card{
    width: 400px!important;
    
  }

 .footer{
    margin-top: 4700px;
  }
 



} 

@media screen and (max-width: 1081px) {

  #myCarousel .carousel-caption h3{
  	font-size: 60px;
  }



} 

@media screen and (max-width: 893px) {

  #myCarousel .carousel-caption h3{
  	font-size: 50px;
  }

	.viviendas-section{
		margin-top: 200px;
	}
  
}

@media screen and (max-width: 880px) {
  .footer-logo, .footer-socials {
    margin-left: 20px;
  }

  .footer-links{
    margin-left: 200px;
    
  }
  
  .footer-contact{
    
    margin-right: 20px;
    

  }
  .viviendas-section{
	margin-top: 100px;
}


  
}

@media screen and (max-width: 800px) {
  .footer{
    height: 600px!important;
  }

  .footer-contact{
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    display: block!important;
    
    height: 200px!important;
  }

  .footer-contact-location{
    display: block!important;
    width: 100%!important;


  }

  .footer-socials{
     display: block!important;
    height: 10px!important;
    float: left;
  }

  .large-caption {
  	transform: translateY(-50%);
	bottom: 0;
	top: 55%;
  }
  .large-caption h3{
  	font-size: 40px;
  }


  
}



@media screen and (max-width: 730px) {

  #myCarousel .carousel-caption  {
  	transform: translateY(-50%);
	bottom: 0;
	top: 55%;
  }
  #myCarousel .carousel-caption h3{
  	font-size: 40px;
  }
  .col-md-2{
  	margin-bottom: -60px!important;
  }

  
}

@media screen and (max-width: 711px) {


.viviendas-section{
	margin-top: 100px;
}
  
}

@media screen and (max-width: 670px) {

  .header.responsive .icon {

    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;



  }
  .header.responsive a:not(:first-child)  {
    float: none;
    display: block;
    text-align: left;
    margin-left: 0;
    color:black;
    background-color: white;
   
    z-index: 90;

  }

  .header.responsive a:nth-last-child(2)  {
    -webkit-box-shadow: 0 5px #9c984d;
    -moz-box-shadow: 0 5px #9c984d;
    box-shadow: 0 5px #9c984d;
    

  }


  .header a:not(:first-child) {
    display: none;

    
  }
  .header a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 645px) {

  #myCarousel .carousel-caption h3{
  	font-size: 37px;
  }

  #myCarousel .large-caption h3{
  	font-size: 35px;
  }
  
}



@media screen and (max-width: 580px) {

  #myCarousel .carousel-caption  {
  	transform: translateY(-50%);
	bottom: 0;
	top: 50%;
  }

   #myCarousel .large-caption h3{
  	font-size: 30px;
  }
 
}

@media screen and (max-width: 550px) {

	.row{
		
		clear:both;
		width: 100%;

	}
	.card{
		margin:auto;
	}





	.titlecontainer{
		margin-bottom: 50px!important;
		width: 320px!important;
		float: none!important;
		display: block!important;
		margin:auto!important;
	}



	.footer-socials{
		margin-top: 0px;

	}

	.footer-copyright{
		margin: auto!important;
		
		margin-top: 20px!important;
	}

	.products-list{
		height: 100%;
		font-family: ProximaNova;
		font-size: 22px;
		display: block!important;
		width: 100%!important;
		
	
		
	
	}
	.productos__top-nav{
		width: 100%!important;
		margin:auto!important;

	}
	.col-xl{
		padding-right: 0px!important;
		padding-left: 0px!important;
	}
	.infocontainer{
		margin-top: 500px;
  
	}
	.carousel-caption h3{
  		font-size: 50px;
  	}
	#myCarousel .carousel-caption h3{
  		font-size: 30px;
  	}

  	#myCarousel .large-caption h3{
  		font-size: 25px;
  	}
}

@media screen and (max-width: 450px) {
  .carousel-title{
  	margin: auto;
  	text-align: center;
    font-size: 45px;
  
  }

  .card{
    width: 300px!important;
    
  }
   .carousel-para-note{
    margin-right: 30px;
    margin-left: 30px;
  }

    .footer{
    margin-top: 4800px!important;
  }

 
}

@media screen and (max-width: 375px) {
	#myCarousel .carousel-caption h3{
  		font-size: 24px;
  	}

  	#myCarousel .large-caption h3{
  		font-size: 20px;
  	}
 
}
    

@media screen and (max-width: 400px) {
  .footer-links{

    width: 100px;
  
  }
 
}


@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}



